{% extends "header.html" %}

{% block body %}
<table bgcolor="#cccccc" class="table table">
  <tbody>
    {% if artistdata %}
    <tr>
      <th>
        <img src="{{ artistdata.info.pic }}" class="" alt="{{ artistdata.info.name }}" />
      </th>
      <th>
        <div class="inner cover">
          <h1 class="cover-heading">{{ artistdata.info.name }}</h1>
          <br />
          <!--
          <h5 class="cover-heading">生日: {{ artistdata.info.birth }} ({{ artistdata.info.constellation }})</h5>
          <h5 class="cover-heading">身高: {{ artistdata.info.stature }} cm</h5>
          <h5 class="cover-heading">体重: {{ artistdata.info.weight }} kg</h5>
          -->
        </div>
      </th>
    </tr>
    {% for song in artistdata.songlist %}
    {% if song.link %}
    <tr>
      <th>
        <a href="{{ url_for('song', songid=song.songid) }}">{{ song.title }}</a>
      </th>
      <th>
        {% for artist in song.artists %}
        <a href="{{ url_for('artist', artistid=artist.artistid) }}">{{ artist.artistname }}</a>
        &nbsp;
        {% endfor %}
      </th>
      <th>
        <a href={{ song.link.link }} download="{{ song.link.filename }}">
          <button type="button" class="btn btn-default btn-xs">
            <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
          </button>
        </a>
      </th>
    <tr/>
    {% endif %}
    {% endfor %}
    {% else %}
    <div class="inner cover">
      <h1 class="cover-heading">No result found :(</h1>
    </div>
    {% endif %}
</table>

{% endblock %}
