{% extends "header.html" %}

{% block body %}
          
<table bgcolor="#cccccc" class="table table">
  <tbody>
    {% if searchResult %}
      <div class="inner cover">
        <h1 class="cover-heading">{{ query }}</h1>
      </div>
      {% for each in searchResult %}
        {% if each.link %}
          <tr>
            <th><a href="{{ url_for('song', songid=each.songid) }}">{{ each.songname }}</a></th>
            <th><a href="{{ url_for('artist', artistid=each.artistid) }}">{{ each.artistname }}</a></th>
            <th>
              <a href="{{ each.link }}" download="{{ '.'.join([each.songname, each.extension]) }}">
                <button type="button" class="btn btn-default btn-xs">
                  <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                </button>
              </a>
              <!--
              <a href="#">
                <button type="button" class="btn btn-default btn-xs">
                  <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
                </button>
              </a>
              -->
            </th>
          <tr/>
        {% endif %}
      {% endfor %}
      {% else %}
      <div class="inner cover">
        <h1 class="cover-heading">No result found for "{{ query }}" :(</h1>
      </div>              
    {% endif %}
</table>

{% endblock %}
