{% extends "header.html" %}

{% block body %}
          
<table bgcolor="#cccccc" class="table table">
  <tbody>
    {% if songlist %}
    <div class="inner cover">
      <h1 class="cover-heading">{{ songname }}</h1>
    </div>
    {% for song in songlist %}
    {% if song[3] %}
    <tr>
      <th>{{ song[1] }}</th>
      <th><a href="{{ url_for('search', songname=song[2]) }}">{{ song[2] }}</a></th>
      <th>
        <a href={{ song[3] }} download={{ '.'.join([song[2], song[4]]) }}>
          <button type="button" class="btn btn-default btn-xs">
            <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
          </button>
        </a>
      </th>
    <tr/>
    {% endif %}
    {% endfor %}
    {% else %}
    <div class="inner cover">
      <h1 class="cover-heading">Song not found for "{{ songname }}" :(</h1>
    </div>              
    {% endif %}
</table>

{% endblock %}
