{% extends "header.html" %}

{% block body %}
{% if songdata %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <img src="{{ songdata.img }}" class="" alt="{{ songdata.songname }}" />
    </div>
    <div class="col-md-6">
      {% if songdata.songname %}
        <h1 class="cover-heading">{{ songdata.songname }}</h1>
        <br />
      {% endif %}
      <div>
        <div style='display:inline'>
          <audio controls="controls" src="{{ songdata.playlink }}"></audio>
        </div>
        <br />
        <br />
          <!--
          {{ songdata.link.playlink }}
          <a href=" ">
            <button type="button" class="btn btn-default btn-sm">
              <span class="glyphicon glyphicon-play" aria-hidden="true">播放</span>
            </button>
          </a>        
          -->
        <div style='display:inline'>
          <button type="button" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"> 喜欢</span>
          </button>
        </div>

        <div style='display:inline'>
          <button type="button" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-paperclip" aria-hidden="true"> 收藏</span>
          </button>
        </div>

        <div style='display:inline'>
          <button type="button" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-share" aria-hidden="true"> 分享</span>
          </button>
        </div>

        <div style='display:inline'>
          <a href={{ songdata.link.link }} download="{{ songdata.link.filename }}">
            <button type="button" class="btn btn-default btn-sm">
              <span class="glyphicon glyphicon-download-alt" aria-hidden="true"> 下载</span>
            </button>
          </a>
        </div>
      </div>
    </div>
    </div>
  </div>
  <br />
  <div class="row">
    {% if songdata.lrc %}
      {% for line in songdata.lrc %}
        <p>{{ line }}</p>
      {% endfor %}
    {% endif %}
  </div>
</div>    

{% endif %}

{% endblock %}
