{% extends "header.html" %}

{% block body %}
<table bgcolor="#cccccc" class="table table">
  <tbody>
    {% if artistdata %}
    <tr>
      <th>
        <img width="300px" height="300px" src="{{ artistdata.artist.img1v1Url }}" class="" alt="{{ artistdata.artist.name }}" />
      </th>
      <th>
        <div class="inner cover">
          <h1 class="cover-heading">{{ artistdata.artist.name }}</h1>
          <br />
        </div>
      </th>
    </tr>
    {% for song in artistdata.hotSongs %}
    {% if song.mp3Url %}
    <tr>
      <th>
        <a href="{{ url_for('song', songid=song.id) }}">{{ song.name }}</a>
      </th>
      <!--
      <th>
        {% for artist in song.artists %}
        <a href="{{ url_for('artist', artistid=artist.id) }}">{{ artist.name }}</a>
        &nbsp;
        {% endfor %}
      </th>
      -->
      <th>
        <a href="{{ url_for('album', albumid=song.album.id) }}">{{ song.album.name}}</a>
      </th>
      <th>
        <a href={{ song.mp3Url }} download="{{ song.name + '.mp3' }}">
          <button type="button" class="btn btn-default btn-xs">
            <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
          </button>
        </a>
      </th>
    <tr/>
    {% endif %}
    {% endfor %}
    {% else %}
    <div class="inner cover">
      <h1 class="cover-heading">No result found :(</h1>
    </div>
    {% endif %}
</table>

{% endblock %}
