{% extends "header.html" %}

{% block body %}

<table bgcolor="#cccccc" class="table table">
  <tbody>
    {% if searchResult.song %}
      <div class="inner cover">
        <h1 class="cover-heading">{{ query }}</h1>
      </div>
      {% for each in searchResult.song %}
        {% if each %}
          <tr>
            <th><a href="{{ url_for('song', songid=each.songid) }}">{{ each.songname }}</a></th>
            <th>
              {% for artist in each.artists %}
                <a href="{{ url_for('artist', artistid=artist.artistid) }}">{{ artist.artistname }}</a>
              {% endfor %}
            </th>
            <th><a href="{{ url_for('album', albumid=each.albumid) }}">{{ each.albumname}}</a></th>
            <th>
              <a href="{{ each.songdetail.mp3Url }}" download="{{ '.'.join([each.songname, 'mp3']) }}">
                <button type="button" class="btn btn-default btn-xs">
                  <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                </button>
              </a>
              <!--
              <a href="#">
                <button type="button" class="btn btn-default btn-xs">
                  <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
                </button>
              </a>
              -->
            </th>
          <tr/>
        {% endif %}
      {% endfor %}
      {% else %}
      <div class="inner cover">
        <h1 class="cover-heading">No result found for "{{ query }}" :(</h1>
      </div>
    {% endif %}
</table>

{% endblock %}
